.header a {
  text-decoration: none;
}
.header a:hover {
  color: white;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  width: 100%;
}
* {
  box-sizing: border-box;
}
.rin {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active {
  border-bottom: 2px solid var(--secondary-colour) !important;
}
:root {
  --primary-colour: rgb(239, 170, 196);
  --secondary-colour: #333;
  --support-colour: #d4dccd;
  --dark-colour: #6b717e;
  --light-colour: #fff;
}
/* Header Section */
.header2 {
  height: 55vh;
  background-image: url(./images/stone.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-inner2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 0.3rem;
}
.header-inner2 h1 a {
  color: var(--secondary-colour);
}
.links8 {
  display: flex;
}
.links8 a {
  margin: 0 2rem;
  color: var(--secondary-colour);
  font-size: 1.3rem;
}
.showcase-text2 h3 {
  font-size: 4rem;
  margin-top: 5rem !important;
  padding-top: 5rem;
  color: var(--light-colour);
}

.showcase-text2 p {
  font-size: 2rem;
  margin-top: 2rem;
  color: var(--light-colour);
}
/* COntent */
.grid-info {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  align-items: center;
}
.grid-info h2 {
  align-items: initial;
}
.grid-info a {
  text-decoration: none;
  color: #333;
  font-weight: 700;
  font-size: 1.5rem;
}
/* Form */
.form {
  display: flex;
  flex-direction: column;
}
.form input[type="submit"] {
  align-self: flex-start;
  padding: 0.5rem 2.3rem;
  margin: 0 !important;
}
.form input[type="text"],
.form input[type="email"],
.form textarea {
  padding: 0.5rem 0.3rem;
  margin: 1rem 0;
  border: none;
  border-bottom: 1px solid var(--dark-colour);
}
.form input[type="text"],
.form input[type="email"],
.form textarea:focus {
  outline: none;
}
.form label {
  margin: 0;
}
/* Hamburger */
.bars8 {
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 1002;
  display: none;
}
.bars8 span {
  display: block;
  height: 3px;
  background-color: var(--light-colour);
  margin: 6px 0;
  position: relative;
  transition: 0.3s linear;
}
/* Footer */
.footer {
  padding: 1rem 0rem !important;
  background-color: var(--support-colour);
}
.grid-3 {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.social a {
  margin: 1.3rem;
  color: var(--secondary-colour);
}
.social i {
  margin-top: 2rem;
  transition: 0.4s;
}
.social i:hover {
  transform: translateY(-20px);
  transition: ease 0.4s;
}
@media screen and (max-width: 700px) {
  .grid-info {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .grid-3 {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .active {
    border: none !important;
  }
  .links8 {
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85) !important;
    position: fixed;
    top: 0;
    right: -100%;
    padding: 80px 120px !important;
    z-index: 1001;
    transition: 0.3s linear;
  }
  .bars8 {
    display: block;
    margin-left: 50%;
  }
  .links8 .a {
    display: block;
    font-size: 1.3rem !important;
    margin: 2rem 0 !important;
    color: var(--secondary-colour);
    text-align: center;
  }
  .links8#activenow {
    right: 0;
    width: 100%;
    max-width: 740px;
    display: block;
  }
  .bars8#activeless span:nth-child(1) {
    transform: rotate(-45deg);
    top: 4px;
  }
  .bars8#activeless span:nth-child(2) {
    opacity: 0;
  }
  .bars8#activeless span:nth-child(3) {
    transform: rotate(45deg);
    bottom: 14px;
  }
  .form input[type="submit"] {
    width: 100%;
    text-align: center;
    margin: 0 !important;
  }
}
@media screen and (max-width: 1024px) {
  .links8 a {
    font-size: 0.9rem;
    margin: 0 15px;
  }
}
