a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  width: 100%;
}
* {
  box-sizing: border-box;
}

.active5 {
  border-bottom: 2px solid var(--dark-colour);
}
:root {
  --primary-colour: rgb(239, 170, 196);
  --secondary-colour: #333;
  --support-colour: #d4dccd;
  --dark-colour: #6b717e;
  --light-colour: #fff;
}
/* Header Section */
.header5 {
  height: 80vh;
  background-image: url(./images/spaori.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-inner5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 0.3rem;
}
.header-inner5 h1 a {
  color: var(--dark-colour);
}
.links5 {
  display: flex;
}
.links5 a {
  margin: 0 2rem;
  color: var(--dark-colour);
  font-size: 1.3rem;
}
.showcase-text5 h3 {
  font-size: 4rem;
  margin-top: 5rem !important;
  color: var(--light-colour);
}

.showcase-text5 p {
  font-size: 2rem;
  margin-top: 2rem;
  color: var(--light-colour);
}
/* Image Section */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.grid img {
  width: 100%;
}
/* Service */
.para p{
  margin: 0;
  padding: 0;
  margin: 6px 0 !important;
  font-weight: 400 !important;
}

.service2 h2{
  margin-bottom: 3rem;
  margin-top: 2rem;
}
.service2 p{
  font-weight: 500;
  margin-bottom: 20px;
}
.grid-2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 2rem 0;
}
/* Footer */
.footer {
  padding: 1rem 0rem !important;
  background-color: var(--support-colour);
}
.grid-3 {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.social a {
  margin: 1.3rem;
  color: var(--secondary-colour);
}
.social i {
  margin-top: 2rem;
  transition: 0.4s;
}
.social i:hover {
  transform: translateY(-20px);
  transition: ease 0.4s;
}
/* Hamburger */
.bars5 {
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 1002;
  display: none;
}
.bars5 span {
  display: block;
  height: 3px;
  background-color: var(--dark-colour);
  margin: 6px 0;
  position: relative;
  transition: 0.3s linear;
}
@media screen and (max-width: 1024px) {
<<<<<<< HEAD:src/spa.css
  .links5,.links1,.links2,.links3,.links4 a {
    font-size: 0.9rem;
    margin: 0 15px;
  }
}
@media screen and (max-width: 700px) {
=======
 
}
@media screen and (max-width: 700px) {
  .showcase-text5 h3, .showcase-text5 p{
    color: var(--secondary-colour);
  }
>>>>>>> sean:client/src/spa.css
  
  .active {
    border: none;
  }
  .grid-3 {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .grid-2{
    grid-template-columns: 1fr;
    padding: 0 1rem;
  }
  .showcase-text h3 {
    font-size: 3rem;
  }
  .showcase-text p {
    font-size: 1.5rem;
  }
  .links5 {
    height: 100vh;
    width: 100%;
    background-color: rgba(10, 10, 10, 0.85) !important;
    position: fixed;
    top: 0;
    right: -100%;
    padding: 80px 120px ;
    z-index: 1001;
    transition: 0.4s linear;
  }
  .bars5 {
    display: block;
    margin-left: 50%;
  }
<<<<<<< HEAD:src/spa.css
  .links5 a {
=======
  .links5 .a {
>>>>>>> sean:client/src/spa.css
    display: block;
    font-size: 1.3rem !important;
    margin: 2rem 0 !important;
    color: var(--light-colour);
    text-align: center;
  }
<<<<<<< HEAD:src/spa.css
  .links5.active {
=======
  .links5#activenow {
>>>>>>> sean:client/src/spa.css
    right: 0;
    width: 100%;
    max-width: 740px;
    display: block;
  }
<<<<<<< HEAD:src/spa.css
  .bars5.active span:nth-child(1) {
=======
  .bars5#activeless span:nth-child(1) {
>>>>>>> sean:client/src/spa.css
    transform: rotate(-45deg);
    color: var(--light-colour) !important;
    top: 4px;
  }
<<<<<<< HEAD:src/spa.css
  .bars5.active span:nth-child(2) {
    opacity: 0;
  }
  .bars5.active span:nth-child(3) {
=======
  .bars5#activeless span:nth-child(2) {
    opacity: 0;
  }
  .bars5#activeless span:nth-child(3) {
>>>>>>> sean:client/src/spa.css
    transform: rotate(45deg);
    bottom: 14px;
    color: var(--light-colour) !important;
  }
}