a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  width: 100%;
}
* {
  box-sizing: border-box;
}
.active {
  border-bottom: 2px solid var(--light-colour);
}
:root {
  --primary-colour: rgb(239, 170, 196);
  --secondary-colour: #333;
  --support-colour: #d4dccd;
  --dark-colour: #6b717e;
  --light-colour: #fff;
}
/* Header Section */
.header4 {
  height: 80vh;
  background-image: url(./images/service2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-inner4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 0.3rem;
}
.header-inner4 h1 a {
  color: var(--light-colour);
}
.links4 {
  display: flex;
}
.links4 a {
  margin: 0 2rem;
  color: var(--light-colour);
  font-size: 1.3rem;
}
.showcase-text4 h3 {
  font-size: 4rem;
  margin-top: 5rem !important;
  color: var(--light-colour);
}

.showcase-text4 p {
  font-size: 2rem;
  margin-top: 2rem;
  color: var(--light-colour);
}
/* Content */
.flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 2.5rem 0;
  justify-content: space-between;
}
.box h3 {
  font-size: 1.4rem;
  margin-top: 1.4rem;
}
.cuts h1, .styling h1, .color h1, .highlights h1{
  color: var(--primary-colour);
}
.box p {
  font-weight: 600;
  font-size: 1rem;
}
.button {
  border: 1.5px solid var(--secondary-colour);
  margin: 0 auto;
}
.but-box {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
/* Footer */
.footer {
  padding: 1rem 0rem !important;
  background-color: var(--support-colour);
}
.grid-3 {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.social a {
  margin: 1.3rem;
  color: var(--secondary-colour);
}
.social i {
  margin-top: 2rem;
  transition: 0.4s;
}
.social i:hover {
  transform: translateY(-20px);
  transition: ease 0.4s;
}

/* Hamburger */
.bars4 {
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 1002;
  display: none;
}
.bars4 span {
  display: block;
  height: 3px;
  background-color: var(--light-colour);
  margin: 6px 0;
  position: relative;
  transition: 0.3s linear;
}
@media screen and (max-width: 700px) {
  .active {
    border: none;
  }
  .flex {
    grid-template-columns: 1fr;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .box{
    align-self: flex-start;
  }
  .showcase-text h3 {
    font-size: 3rem;
  }
  .showcase-text p {
    font-size: 1.5rem;
  }
  .grid-3 {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  /* .grid-3 .social {
    grid-column: 2 span/ 2;
  } */
  .links4 {
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5) !important;
    position: fixed;
    top: 0;
    right: -100%;
    padding: 80px 120px !important;
    z-index: 1001;
    transition: 0.3s linear;
  }
  .bars4 {
    display: block;
    margin-left: 50%;
  }
  .links4 a {
    display: block;
    font-size: 1.3rem !important;
    margin: 2rem 0 !important;
    color: var(--secondary-colour);
    text-align: center;
  }
  .links4.active {
    right: 0;
    width: 100%;
    max-width: 740px;
    display: block;
  }
  .bars4.active span:nth-child(1) {
    transform: rotate(-45deg);
    top: 4px;
  }
  .bars4.active span:nth-child(2) {
    opacity: 0;
  }
  .bars4.active span:nth-child(3) {
    transform: rotate(45deg);
    bottom: 14px;
  }
}
@media screen and (max-width: 1024px) {
  /* .links5,
  .links1,
  .links2,
  .links3,
  .links4 a {
    font-size: 0.9rem !important;
    margin: 0 15px !important;
  } */
  .links4 Link{
    font-size: 0.9rem;
    margin: 0 15px;
  }
}
@media screen and (max-width: 300px){
  .grid-3 {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
